{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/home.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <ul>
        <li><a href="{% url 'home' %}">Password Manger</a></li>
        <li style="float:right"><a href="{% url 'login' %}">LOGOUT</a></li>
        <li style="float:right"><a href="{% url 'login' %}">LOGIN</a></li>
        <li style="float:right"><a href="{% url 'register' %}">REGISTER</a></li>
    </ul>
    <div class="wrap">
        <h1>TRUST US</h1>
        <h2>Store all your passwords at one place.</h2>
        <div>
            <input id="email" type="text" class="cool" placeholder="Enter Application/Website name">
        </div>
        <div>
            <input id="fname" type="text" class="cool" placeholder="Enter Username/Email" />
        </div>

        <div>
            <input id="lname" type="text" class="cool" placeholder="Enter Password">
        </div>
        <button class="button">ADD</button>

    </div>
    <div class="table">
        <table>
            <caption>Your Passwords</caption>
            <thead>
                <tr>
                    <th scope="col">Application</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Facebook</th>
                    <td>nick@example.com</td>
                    <td>123456nick</td>
                </tr>
                <tr>
                    <th scope="row">Instagram</th>
                    <td>andrew@example.com</td>
                    <td>andrew123</td>
                </tr>
                <tr>
                    <th scope="row">Twitter</th>
                    <td>dave@example.com</td>
                    <td>dave@6283</td>
                </tr>
                <tr>
                    <th scope="row">Snapchat</th>
                    <td>peter2000</td>
                    <td>peter9999</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>