{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <script src="{% static 'login/js/login.js' %}"></script> -->
    <title>Login</title>

</head>

<body id="body">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p align="center">{{message}}</p>
    </div>
    {% endfor %}
    {% endif %}
    <div class="flex-container">
        <div class="flex-child-one">
            <div class="main">
                <p class="sign" align="center">Login</p>
                <form class="form1" method="POST">
                    {% csrf_token %}
                    <input class="un " type="text" align="center" placeholder="Email" name="email" id="email">
                    <input class="pass" type="password" align="center" placeholder="Password" name="password"
                        id="password">
                    <button type="submit" class="submit" name="submit" align="center">Login</button>
                </form>
                <p class="forgot" align="center">
                    Don't Have an account? <a href="{% url 'register' %}" id="link">Register</a>
                </p>
            </div>
        </div>
        <div class="flex-child-three">
            <p id="or"> OR</p>
        </div>
        <div class="flex-child-two">
            <div id="input">
                <div id="camera_input">
                    <img src="{% url 'video_feed' %}" id="video_feed">
                    <form class="form1" method="POST">
                        {% csrf_token %}
                        <button type="submit" id="button" class="button2" name="facelogin">
                            Face Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>