{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    <!-- <script src="{% static 'login/js/login.js' %}"></script> -->
    <title>Login</title>

</head>
<script>
    {% if messages %}
    $(document).ready(function(){
        $('#Modal1').modal({show:true});
    });
    {% endif %}
</script>
<body id="body">
    <!-- {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p align="center">{{message}}</p>
    </div>
    {% endfor %}
    {% endif %} -->
    {% if messages %}
    {% for message in messages %}
    <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="margin-left: 45%;">Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 0;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <p style="text-align: center;">{{message}}</p>
                <div class="modal-body">
                    <form class="form-horizontal" method="POST" name="myform">
                        {% csrf_token %}
                       
    
                <div class="row pt-3">
                    <div class="col-md-2 offset-md-4 col-3 offset-2" style="margin-left: 45%;">
                  <button type="button" class="btn btn-danger" data-dismiss="modal" algin='center'>OKAY</button>
                </div>
              </div>
              </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="flex-container">
        <div class="flex-child-one">
            <div class="main">
                <p class="sign" align="center">Login</p>
                <form class="form1" method="POST">
                    {% csrf_token %}
                    <!-- <input class="un " type="text" align="center" placeholder="Email" name="email" id="email">
                    <input class="pass" type="password" align="center" placeholder="Password" name="password"
                        id="password"> -->
                        <div class="form-group">
                            <div class="un ">
                                <div class="input-group">
                                    <label>Email</label>
                                    <input class="form-control" type="text" align="center" placeholder="Email" name="email" id="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="un ">
                                <div class="input-group">
                                    <label>Password</label>
                                    <input class="form-control" type="password" align="center" placeholder="Password" name="password" id="password"  required>
                                </div>
                            </div>
                        </div>
                    <button type="submit" class="submit" name="submit" align="center">Login</button>
                </form>
                <p class="forgot" align="center">
                    Don't Have an account? <a href="{% url 'register' %}" id="link">Register</a>
                </p>
            </div>
        </div>
        <div class="flex-child-three">
            <p id="or"> OR</p>
        </div>
        <div class="flex-child-two">
            <div id="input">
                <div id="camera_input">
                    {% if set_value != 1 %}
                    <img src="{% url 'video_feed' %}" id="video_feed">
                    {% endif %}
                    <!-- <img src="../../../captured_images/img2.jpg"  alt="not found" > -->
                    <form class="form1" method="POST">
                        {% csrf_token %}
                                    <input class="form-control1" type="text" align="center" placeholder="Enter Email" name="facelogin_email" id="facelogin_email" required>
                                    <br>
                                    <button type="submit" id="button" class="button2" name="facelogin"
                            onclick="document.getElementById('video_feed').setAttribute('display', null)">
                            Face Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>