{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <script src="{% static 'login/js/login.js' %}"></script> -->
    <title>Login</title>

</head>

<body id="body">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p align="center">{{message}}</p>
    </div>
    {% endfor %}
    {% endif %}
    <div class="flex-container">
        <div class="flex-child-one">
            <div class="main">
                <p class="sign" align="center">Login</p>
                <form class="form1" method="POST">
                    {% csrf_token %}
                    <input class="un " type="text" align="center" placeholder="Username" name="username" id="username">
                    <input class="pass" type="password" align="center" placeholder="Password" name="password"
                        id="password">
                    <button type="submit" class="submit" name="submit" align="center">Login</button>
                    <p class="forgot" align="center">Don't Have an account? <a href="{% url 'register' %}"
                            id="link">Register</a>
                    </p>
            </div>
        </div>
        <div class="flex-child-three">
            <p id="or"> OR</p>
        </div>
        <div class="flex-child-two">
            <div id="input">
                <div id="camera_input">
                    <!--  <video id="myVideo" autoplay></video> -->
                    <img src="{% url 'video_feed' %}">
                    <button id="button" class="button2">
                        Face Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let v = document.getElementById("myVideo");
    let b = document.getElementById("button");

    //create a canvas to grab an image for upload
    let imageCanvas = document.createElement('canvas');
    let imageCtx = imageCanvas.getContext("2d");

    //Add file blob to a form and post



    //Get the image from the canvas
    function sendImagefromCanvas() {

        //Make sure the canvas is set to the current video size
        imageCanvas.width = v.videoWidth;
        imageCanvas.height = v.videoHeight;

        imageCtx.drawImage(v, 0, 0, v.videoWidth, v.videoHeight);

        //Convert the canvas to blob and post the file
        imageCanvas.toBlob(postFile, 'image/jpeg');
    }

    //Check user using picture
    v.onclick = function () {
        console.log('clicked camera');
        sendImagefromCanvas();
    };

    //Check user using password
    b.onclick = function () {
        console.log('clicked button');
        sendImagefromCanvas();
    };

    window.onload = function () {

        //Get camera video
        navigator.mediaDevices.getUserMedia({ video: { width: 1280, height: 720 }, audio: false })
            .then(stream => {
                v.srcObject = stream;
            })
            .catch(err => {
                console.log('navigator.getUserMedia error: ', err)
            });

    };
</script>

</html>