{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/register.css' %}" />
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Register</title>
</head>
<script>
    var check = function () {
        if (document.getElementById('password').value ==
            document.getElementById('password2').value) {
            document.getElementById('alertPassword').style.color = '#8CC63E';
            document.getElementById('alertPassword').innerHTML = '<span>Passwords Match !</span>';
        } else {
            document.getElementById('alertPassword').style.color = '#EE2B39';
            document.getElementById('alertPassword').innerHTML = '<span>Passwords do not match</span>';
        }
    }
</script>

<body id="body">

    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p align="center">{{message}}</p>
    </div>
    {% endfor %}
    {% endif %}

    <div class="main">
        <p class="sign" align="center">Register</p>
        <form class="form1" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <input class="un " type="text" align="center" placeholder="First Name" name="fname" id="fname" required>
            <input class="un " type="text" align="center" placeholder="Last Name" name="lname" id="lname" required>
            <input class="un " type="text" align="center" placeholder="Username" name="username" id="username" required>
            <input class="un " type="text" align="center" placeholder="Email" name="email" id="email" required>
            <input class="pass" type="password" align="center" placeholder="Password" name="password" id="password"
                required>
                <p align="center">Upload Your Image</p>
            <input class="un " type="file" align="center"  name="img"> -->
            <!-- <a class="submit" align="center" name="register">Register</a> -->
            <div class="form-group">
                <div class="un ">
                    <div class="input-group">
                        <label>First Name</label>
                        {{form.fname}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="un ">
                    <div class="input-group">
                        <label>Last Name</label>
                        {{form.lname}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="un ">
                    <div class="input-group">
                        <label>Email</label>
                        {{form.email}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="un ">
                    <div class="input-group">
                        <label>Password</label>
                        {{form.passwrd}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="un ">
                    <div class="input-group">
                        <label>Confirm Password</label>
                        {{form.password2}}
                    </div>
                    <p id="alertPassword"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="un ">
                    <div class="input-group">
                        <label>Upload your image</label>
                        {{form.img}}
                    </div>
                </div>
            </div>


            <button type="submit" name="submit" class="submit" align="center">Register</button>
            <p class="forgot" align="center">Already Have an account? <a href="{% url 'login' %}" id="link">Login</p>


    </div>

</body>

</html>